{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}


<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5850882928261471"
     crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

{% block content %}

<div style="margin-top:0%; color:white;">
    <div class="container-fluid" style="background-image:url('static/images/marble-studio-cover.jpg'); height:500px;">
        <!DOCTYPE html>
        <html class="no-js" lang="en">
        <body class="home" data-debug="0">

        <section id="content"><br>
          <div class="box-left">
            <strong class="parent">
                <a href="{% url 'project' random_post.title %}" style="margin-left:20px;">Site of the day </a>
            </strong>
            <span class="text-x-thin">{{random_post.date|date}}</span>
        </div>
            <div class="content-view">
                <div class="box-site-head js-single-element"
                     data-model="{&quot;likes&quot;:55,&quot;id&quot;:38186,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2019\/10\/5da42f4e8967d075754281.jpg&quot;},&quot;slug&quot;:&quot;laguta-laguta&quot;,&quot;title&quot;:&quot;Laguta &amp; Laguta&quot;,&quot;createdAt&quot;:1571616000,&quot;tags&quot;:[&quot;Design Agencies&quot;,&quot;Mobile &amp; Apps&quot;,&quot;Web &amp; Interactive&quot;,&quot;Flat Design&quot;,&quot;Minimal&quot;,&quot;Portfolio&quot;,&quot;Responsive Design&quot;,&quot;Black&quot;,&quot;Red&quot;,&quot;White&quot;,&quot;Gallery&quot;,&quot;GSAP Animation&quot;,&quot;UI design&quot;,&quot;Nuxt.js&quot;],&quot;type&quot;:&quot;submission&quot;}">
                    <div class="box-bg has-tablet">
                    <div class="container-fluid"><br><br><br><br>
                      <a href="{% url 'project' random_post.title %} text-center" style="color: #fff;"></a>
                    </div>
                        
                    </div>
                    <div class="box-content over mi" style="background-image:url({% static 'images/download.jpeg'%})">
                        
                        <div class="inner vertical-center text-center">
                          <a href="{% url 'project' random_post.title %}" class="site-link" aria-label=""></a>
                            <div class="box-info">
                                <div class="row mx-auto D-block">
                                    <h2 class="heading-large"><a href="{% url 'project' random_post.title %}"
                                                                 style="margin-top:-100px; color:white; font-weight:bold;">{{ random_post.title }}</a>
                                    </h2>
                                </div>
                                
                                <div class="row mx-auto D-block">
                                    <div class="by ">
                                        By <strong><a href="">{{ random_post.user.username }}</a>
                                    </strong>  from <strong>{{ random_post.user.profile.location }}</strong>
                                    </div>
                                </div><br><br>
                                {% for rating in random_post.ratings.all %}
                                {% if forloop.counter is random_post.ratings.all.count %}
                                <button type="button" class="btn btn-circle btn-xl" style="width: 100px; height: 100px; padding: 10px 16px; border-radius: 35px; font-size: 12px; text-align: center; border: 5px solid blue;">DESIGN {{rating.design_average}}</button>
                                <button type="button" class="btn btn-circle btn-xl" style="width: 100px; height: 100px; padding: 10px 16px; border-radius: 35px; font-size: 12px; text-align: center; border: 5px solid green;">USABILITY {{rating.usability_average}}</button>
                                <button type="button" class="btn btn-circle btn-xl" style="width: 100px; height: 100px; padding: 10px 16px; border-radius: 35px; font-size: 12px; text-align: center; border: 5px solid red;">CONTENT {{rating.content_average}}</button>
                                <button type="button" class="btn btn-circle btn-xl" style="width: 100px; height: 100px; padding: 10px 16px; border-radius: 35px; font-size: 12px; text-align: center; border: 5px solid yellow;">OVERALL {{rating.score}}</button>
                                {% endif %}
                                {% endfor %}
                               <br><br><br> 
                            <div class="box-bl">
                                <button type="button" class="btn btn-info" style="background-color: lightblue; border-radius: 10px; color: white; margin-right: 1000px"><a href="{{random_post.url}}" data-identifier="" data-type="submission"
                                   class="js-visit-item bt-default green-fill" target="_blank" rel="noopener nofollow"
                                   style="margin-top:-60px;">Visit Site</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </body>
        </html>
    </div>

    <div class="container">
        <h2 class="mt-4" style="color: black; font-weight:40px;">Websites Submitted</h2><br>
        {% if user.is_authenticated %}
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true" style="color: black;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-sm btn-info" value="Save"/>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row">
            {% if posts %}

            <div class="templates display">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ post.photo.cdn_url }}"
                                 alt="{{photo.title}}">
                            <a href="{% url 'project' post.title %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'project' post.title %}">{{post.title|title}}</a> <a
                                    class="btn btn-sm btn-outline-info" href="{{ post.url }}" style=""> View</a></h4>
                            <hr>
                            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}"
                                                       class="nav-img mr-2"
                                                       alt="" height="50" width="50">
                                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>


                            </p>
                        </div>
                    </div><br>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

<script>
  function randomImage(){
    var images = [
      '../images/1.png',
      '../images/2.png',
      '../images/3.png'];
    var size = images.length;
    var x = Math.floor(size * Math.random());
    console.log(x);
    var element = document.getElementsByClassName('home-intro');
    console.log(element);
    element[0].style["background-image"] = "url("+ images[x] + ") no-repeat;";
  }
  document.addEventListener("DOMContentLoaded", randomImage);
</script>